html {
	background-image: url("http://www.folsom.ca.us/images/PIO/folsomaerialcompressed.gif");
	height: 900px;
	width: 1200px;
}
a {
	color: white;
	text-decoration: none;
}
p {
	color:white;
	font-family:Courier, Verdana;
	font-size: 22px;
}
span {
	color:white;
	font-family:Arial;
	font-size: 24px;
}
h1 {
	color: white;
	font-family:Rockwell;
}
h2 {
	font-family:Verdana;
	font-size:24px;
	color: white;
	display: text;
}
h6 {
	background-color:white;
}
li {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: Calibri;
}
ul {
	text-decoration: none;
	font-weight: bold;
	font-size: 26px;
	font-family: Calibri;
}
.prima {
	text-align: center;
	font-size: 22px;
}
